# Video dosyaları
*.mp4
*.mkv
*.mov
*.avi
*.MTS

# Ses dosyaları
*.WAV

# Düzenleme Dosyaları
*.kdenlive

# Büyük dosyalar
raw/
video/
recordings/
Video_Materyal/
Devre_Semasi/

# OS
.DS_Store
Thumbs.db

# Derleme
build/
*.o
*.elf


